@import "styles/ui/index";
@import "styles/ui/topbar";

* {
    outline:none;
}

.jsmore {
    display:none !important;
}

.side-nav-open {
    overflow:hidden; 
}

@media #{$medium-up} {
    .toggle-side-nav {
		display:none;
    }
}

body {
    @include grid-row();
    width:100%;
    height:100%;
    background-image:url("/images/ios7_xlarge.png");
    @media #{$xxlarge-up} {
		background-image:url("/images/ios7.png");
    }
}

x-snowfall {
    width:100%;
    height:100%;
    position:relative;
}

@mixin content {
    @include grid-row();
    background-color:$foreground;
    margin-top:$content-margin;
    padding:20px;

    input, input:focus, select, select:focus {
		background-color:white;
    }
}


nav#intraSubjectNavigation {
	@include side-bar();
}

#newLinkForm {
    background-color:white;
    padding:$content-margin;
}