<div class="panel panel-primary">
  <div class="panel-heading">
	Blog
	<div class="pull-right">
	  <a href="/course/{{id}}/blog/create">
		<i class="fa fa-plus"></i>
	  </a>
	</div>
  </div>
  <div class="panel-body">
	{{#data}}
	  Hi
	{{/data}}
	{{^data}}
	  Nothing here
	{{/data}}
  </div>
</div>
