<div class="row">
	<div class="col-md-3">
	  <div class="panel panel-default">
		<div class="panel-heading">{{data.title}}</div>
		<ul class="list-group">
		  <li class="list-group-item {{#blog}}active{{/blog}}">
			<a href="/course/{{data._id}}/blog">Blog</a>
		  </li>
		  <li class="list-group-item {{#vocab_quizzes}}active{{/vocab_quizzes}}">
			<a href="/course/{{data._id}}/vocab_quizzes">Vocabulary Quizzes</a>
		  </li>
		  <li class="list-group-item {{#quizzes}}active{{/quizzes}}">
			<a href="/course/{{data._id}}/quizzes">Quizzes</a>
		  </li>
		  <li class="list-group-item {{#uploads}}active{{/uploads}}">
			<a href="/course/{{data._id}}/uploads">File Uploads</a>
		  </li>
		  <li class="list-group-item {{#downloads}}active{{/downloads}}">
			<a href="/course/{{data._id}}/downloads">File Downloads</a>
		  </li>
		</ul>
	  </div>
	</div>
	<div class="col-md-9 course">
	  <div class="panel panel-danger">
		<div class="panel-heading">
		  <h3 class="panel-title">Error</h3>
		</div>
		<div class="panel-body">
		  404 Not Found
		</div>
	</div>
</div>
