<div class="row">
  {{#data}}
	<div class="col-md-3">
	  <div class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<ul class="list-group">
		  <li class="list-group-item active"><a href="/course/{{_id}}/blog">Blog</a></li>
		  <li class="list-group-item"><a href="/course/{{_id}}/vocab_quizzes">Vocabulary Quizzes</a></li>
		  <li class="list-group-item"><a href="/course/{{_id}}/quizzes">Quizzes</a></li>
		  <li class="list-group-item"><a href="/course/{{_id}}/uploads">File Uploads</a></li>
		  <li class="list-group-item"><a href="/course/{{_id}}/downloads">File Downloads</a></li>
		</ul>
	  </div>
	</div>
	<div class="col-md-9">
	  <div class="panel panel-default">
		<div class="panel-heading">Blog</div>
		<div class="panel-body">
		  Panel content
		</div>
	  </div>
	</div>
  {{/data}}
</div>
