<div class="panel panel-primary">
  <div class="panel-heading">
	Vocabulary Quizzes
	<div class="pull-right">
	  <a href="/course/{{id}}/vocab_quizzes">
		<i class="fa fa-times"></i>
	  </a>
	</div>
  </div>
  <div class="panel-body">
	{{#error}}
	  <div class="alert alert-warning" role="alert">
		{{error}}
	  </div>
	{{/error}}
	<form>
	  <h1>Create New Vocabulary Quiz</h1>
	  <div class="form-group">
		<label>Title</label>
		<input type="text" value="{{model.title}}" class="form-control title" placeholder="Amazing Blog Post Title">
	  </div>
	  <div class="form-group">
		<p>N.B. If there is more that one possible answer, seperate all possible answers  by commas.</p>
		<table class="table">
		  <thead>
			<tr>
			  <th>Question</th>
			  <th>Answer</th>
			</tr>
		  </thead>
		  <tbody class="questions">
		  </tbody>	
		</table>
		<button class="btn btn-sm create-question" type="button">Add Question</button>
	  </div>
	  <button class="btn btn-primary submit" type="button">Submit</button>
	  <button type="reset" class="btn reset">Reset</button>
	</form>
  </div>
</div>
