<div class="panel panel-default">
  <div class="panel-heading">
	Create
	<div class="pull-right">
	  <a href="/"><i class="fa fa-times"></i></a>
	</div>
  </div>
  <div class="panel-body">
	<form>
	  {{#fields}}
		<div class="form-group">
		  <label>{{title}}</label>
		  <input type="{{type}}" class="form-control control-{{key}}">
		</div>
	  {{/fields}}
	  <button class="btn btn-primary submit">Submit</button>
	  <button type="reset" class="btn reset">Reset</button>
	</form>
  </div>
</div>
