<div class="panel panel-default">
  <div class="panel-heading">
	Create
	<div class="pull-right">
	  <a href="/"><i class="fa fa-times"></i></a>
	</div>
  </div>
  <div class="panel-body">
	<form>
		<div class="form-group">
		  <label>Title</label>
		  <input type="text" class="form-control field-title">
		</div>
    <div class="form-group">
      <label>Icon</label>
      <select class="form-control field-icon">
        <option value="French">French</option>
        <option value="Computing">Computing</option>
        <option value="Latin">Latin</option>
      </select>
    </div>
	  <button class="btn btn-primary submit">Submit</button>
	  <button type="reset" class="btn reset">Reset</button>
	</form>
  </div>
</div>
