<div class="row">
  <div class="editor-toolbar">
	{{#rich}}
      <div class="editor-formating btn-toolbar col-md-6" role="toolbar">
		<div class="btn-group">
		  <button class="btn btn-default" value="bold"><i class="fa fa-bold"></i></button>
		  <button class="btn btn-default" value="italic"><i class="fa fa-italic"></i></button>
		  <button class="btn btn-default" value="underline"><i class="fa fa-underline"></i></button>
		</div>
		<div class="btn-group">
		  <button class="btn btn-default" value="insertOrderedList"><i class="fa fa-list-ol"></i></button>
		  <button class="btn btn-default" value="insertUnorderedList"><i class="fa fa-list-ul"></i></button>
		</div>
		<div class="btn-group">
		  <button class="btn btn-default" value="subscript"><i class="fa fa-subscript"></i></button>
		  <button class="btn btn-default" value="superscript"><i class="fa fa-superscript"></i></button>
		</div>
      </div>
	  <div class="col-md-3">
		<select class="font-control form-control">
		  <option value="Helvetica Neue" selected>Helvetica Neue</option>
		  <option value="Arial">Arial</option>
		  <option value="Arial Black">Arial Black</option>
		  <option value="Comic Sans MS">Comic Sans MS</option>
		  <option value="Times New Roman">Times New Roman</option>
		  <option value="Tahoma">Tahoma</option>
		  <option value="Verdana">Verdana</option>
		  <option value="Courier New">Courier New</option>
		</select>
	  </div>
	{{/rich}}
	{{^rich}}
	  <div class="btn-group col-md-3">
		<button type="button" class="btn btn-default open-tab {{#editorOpen}}active{{/editorOpen}}" value="editor">Editor</button>
		<button type="button" class="btn btn-default open-tab {{#editorOpen}}active{{/editorOpen}}" value="preview">Preview</button>
      </div>
	{{/rich}}
	<div class="col-md-3">
	  <select class="editor-mode form-control">
		<option value="rich-text-editor" {{#rich}}selected{{/rich}}>Rich Text Editor</option>
		<option value="latex" {{^rich}}selected{{/rich}}>Latex</option>
	  </select>
	</div>
  </div>

  <br/>

  <div class="col-md-12">
	{{#rich}}
	  <div contenteditable="true" class="editor-rich"></div>
	{{/rich}}
	{{^rich}}
	  {{#editorOpen}}
		<div contenteditable="true" class="editor-latex"></div>
	  {{/editorOpen}}
	  {{^editorOpen}}
		<div class="preview">
		  <script type="math/tex">{{model.data}}</script>
		</div>
	  {{/editorOpen}}
	{{/rich}}
  </div>
</div>
