<div class="row">
  <div class="col-md-1">
    <input type="{{model.container.container.answer_type}}" class="correct form-control">
  </div>
  <div class="col-md-10">
    <input type="text" class="form-control title">
  </div>
  <button type="button" class="remove btn btn-link col-md-1"><i class="fa fa-times"></i></button>
</div>
