{{#model}}
<td><input class="question form-control" type="text"></td>
<td><input class="answer form-control" type="text"></td>
<td><button class="btn btn-link remove" type="button"><i class="fa fa-times"></i></button></td>
{{/model}}
